.container {
  width: 95%
}

@media (min-width: 640px) {
  .container {
    max-width:90%
  }
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.loading-overlay {
  position: fixed;
  z-index: 998;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}

.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}